/* CSS variables */
:root {
  --white-text: #fff;
  --dark-color: #09090b;
  --dark-blue-text-color: #082f49;
  --green-color: #115e59;
  --blue-color: #155e75;
  --h2-font-size: 2rem;
  --nav-hover-color: #7dd3fc;
  --testimonials-font-color: #9ca3af;
  --footer-color: #99f6e4;
}
/* Header and nav classes */
.header {
  background: url("./assets/images/desktop/image-header.jpg") no-repeat center
    center/cover;
  min-height: 100vh;
}

.header-logo {
  color: var(--white-text);
  font-weight: 900;
  font-size: var(--h2-font-size);
  margin: 1.3rem 0 0 2.5rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
  margin: 1.3rem 2.5rem 0 0;
}

.header-nav li a {
  color: var(--white-text);
  font-size: 1rem;
  text-decoration: none;
}

.header-btn {
  border-radius: 1rem;
  background-color: #fff;
  border: none;
  color: var(--dark-color);
  padding: 0.7rem;
  margin-bottom: var(--h2-font-size);
  margin: auto;
  width: 6rem;
}

.header-btn:hover {
  background-color: var(--nav-hover-color);
  color: var(--white-text);
}

/* UI pictures CSS */
.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  min-height: 100vh;
}

.content-img-cherry {
  background: url("./assets/images/desktop/image-graphic-design.jpg") no-repeat
    center center/cover;
}

.content-img-cherry h2 {
  color: var(--green-color);
  font-size: var(--h2-font-size);
  text-align: center;
  margin-top: 29rem;
}

.content-img-cherry p {
  color: var(--green-color);
  text-align: center;
  margin-top: 1rem;
  padding: 0.3rem;
}

.content-img-orange {
  background: url("./assets/images/desktop/image-photography.jpg") no-repeat
    center center/cover;
}

.content-img-orange h2 {
  color: var(--blue-color);
  font-size: var(--h2-font-size);
  text-align: center;
  margin-top: 29rem;
}

.content-img-orange p {
  color: var(--blue-color);
  text-align: center;
  margin-top: 1rem;
  padding: 0.3rem;
}

.content-text {
  margin: auto;
}

.content-text h2 {
  color: var(--dark-blue-text-color);
  font-size: var(--h2-font-size);
  font-weight: 900;
  margin-bottom: 1rem;
}

.content-text h3 {
  color: var(--dark-blue-text-color);
  font-weight: 900;
  font-size: 1.3rem;
  margin-top: 1rem;
}

/* Testimonials CSS */

.testimonials-heading {
  color: var(--testimonials-font-color);
  font-size: calc(var(--h2-font-size) - 0.3rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
  text-align: center;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  padding: 4rem;
  margin-top: 0.5rem;
}

.testimonials-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-container .testimonials-img {
  border-radius: 100%;
  width: 30%;
}

.testimonials-container p {
  padding: 1.2rem;
  line-height: 1.7;
}

.testimonials-mt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.testimonials-names {
  color: var(--dark-blue-text-color);
  font-weight: bolder;
  font-size: calc(var(--h2-font-size) - 0.7rem);
}

.testimonials-positions {
  color: var(--testimonials-font-color);
}

/* Food Images */
.food-images-container {
  display: flex;
}

.food-images {
  width: 25%;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.footer h4 {
  color: var(--green-color);
  font-size: 2rem;
}

.footer .footer-nav nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
  margin: 3rem 3rem;
  list-style: none;
}

.footer .footer-nav li a {
  color: var(--green-color);
  text-decoration: none;
}

.footer-nav li a:hover {
  color: var(--white-text);
}

.footer-image-links {
  display: flex;
  gap: 1rem;
}
.footer-image-links a {
  text-decoration: none;
}

/* transition images */
/* Thanks to chat gpt for this line */
/* .footer-image-links img {
  filter: hue-rotate(100deg);
} */
.footer-image-links img:hover {
  filter: brightness(6);
  transition: 0.9s;
}
